{{#if (eq spellbook.spellPreparationMode "prepared")}}
<section class="spell-level-mod-container">
    <h3>{{localize "PF1.Modifications"}}</h3>
    <div class="spell-mod-formulas">
        <h3 class="ppdoffset">
            {{localize "PF1.PreparePerDay"}}
        </h3>
    </div>

    <h3>{{localize "PF1.All"}}</h3>
    <div class="spell-mod-formulas">
        <input class="formula ppdoffset" type="text"
               name="system.attributes.spells.spellbooks.{{spellbookId}}.preparedAllOffsetFormula"
               value="{{spellbook.preparedAllOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}"/>
    </div>

    {{#if spellbook.hasCantrips}}
        <h3>{{localize "PF1.SpellLevels.0"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell0.preparedOffsetFormula"
                   value="{{spellbook.spells.spell0.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>
    {{/if}}

    <h3>{{localize "PF1.SpellLevels.1"}}</h3>
    <div class="spell-mod-formulas">
        <input class="formula ppdoffset" type="text"
               name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell1.preparedOffsetFormula"
               value="{{spellbook.spells.spell1.preparedOffsetFormula}}"
               placeholder="{{localize "PF1.Formula"}}"/>
    </div>

    <h3>{{localize "PF1.SpellLevels.2"}}</h3>
    <div class="spell-mod-formulas">
        <input class="formula ppdoffset" type="text"
               name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell2.preparedOffsetFormula"
               value="{{spellbook.spells.spell2.preparedOffsetFormula}}"
               placeholder="{{localize "PF1.Formula"}}"/>
    </div>

    <h3>{{localize "PF1.SpellLevels.3"}}</h3>
    <div class="spell-mod-formulas">
        <input class="formula ppdoffset" type="text"
               name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell3.preparedOffsetFormula"
               value="{{spellbook.spells.spell3.preparedOffsetFormula}}"
               placeholder="{{localize "PF1.Formula"}}"/>
    </div>

    <h3>{{localize "PF1.SpellLevels.4"}}</h3>
    <div class="spell-mod-formulas">
        <input class="formula ppdoffset" type="text"
               name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell4.preparedOffsetFormula"
               value="{{spellbook.spells.spell4.preparedOffsetFormula}}"
               placeholder="{{localize "PF1.Formula"}}"/>
    </div>

    {{#if (or (eq spellbook.casterType "med") (eq spellbook.casterType "high"))}}
        <h3>{{localize "PF1.SpellLevels.5"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell5.preparedOffsetFormula"
                   value="{{spellbook.spells.spell5.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>

        <h3>{{localize "PF1.SpellLevels.6"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell6.preparedOffsetFormula"
                   value="{{spellbook.spells.spell6.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>
    {{/if}}

    {{#if (eq spellbook.casterType "high")}}
        <h3>{{localize "PF1.SpellLevels.7"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell7.preparedOffsetFormula"
                   value="{{spellbook.spells.spell7.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>

        <h3>{{localize "PF1.SpellLevels.8"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell8.preparedOffsetFormula"
                   value="{{spellbook.spells.spell8.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>

        <h3>{{localize "PF1.SpellLevels.9"}}</h3>
        <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text"
                   name="system.attributes.spells.spellbooks.{{spellbookId}}.spells.spell9.preparedOffsetFormula"
                   value="{{spellbook.spells.spell9.preparedOffsetFormula}}"
                   placeholder="{{localize "PF1.Formula"}}"/>
        </div>
    {{/if}}
</section>
{{/if}}